parameters:
    level: 8
    paths:
        - src/
        - resources/
        - public/
    scanFiles:
        - vendor/autoload.php
        - .castor.stub.php
    scanDirectories:
        - vendor/symfony/console
